html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: linear-gradient(to bottom, #1d2671, #2C3E50) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    color: white !important;
}

a {
  color: #289489;
  transition: 0.3s color;
}
a:hover {
  color: #2da79a;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
}
.main {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.messageModal {
  position: fixed;
  bottom: -100px;
  width: 50%;
  min-width: 200px;
  padding: 10px;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border-radius: 10px;
  background-color: rgb(0, 85, 221);
  font-size: 1.5em;
  cursor: pointer;
  transition: bottom 0.5s;
  color: white;
  z-index: 100;
  font-size: 21px;
}
.messageModal.open {
  bottom: 40px;
  transition: all 0.5s ease 0s;
}
#terminal {
  width: 80vw;
  max-width: 1200px;
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}


.xterm-viewport::-webkit-scrollbar {
  background-color: #424e8f;
  width: 5px;
}

